* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    background: #f5f7fa;
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
    margin:0px;
}

.wrapper{
    background: #ffffff;
    display:flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar{
    background-color: #1e2939;
    width: 370px;
    padding-top:40px;
    padding-bottom:40px;
}

.myphoto {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.sidebar h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-link{
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts-link-type{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.sidebar li {
    color:#ff6b08;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-skills-text {
    color: #ffffff;
}

.soft-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-text {
    color: #ffffff;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
}

.projects-item {
    font-weight: 700;
    margin-left: 18px
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff6b08;
}

.prefession-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 14px;
}

.profession-devider {
    color: #000000;
}

.profession-duties {
    margin-top: 14px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.profession-dutie-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.education-specialization {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}